.text-rotate {
    position: absolute;
    margin-left: 1.5rem !important;
    opacity: 0;
}

@keyframes rotate {
    0% {
        opacity: 0;
    }
    25%, 75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.text-rotate:nth-of-type(1) {
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-delay: .5s;
    /* animation-delay: calc(.5+(var(--n)*var(--animation-delay))); */
    /* TODO */
    /* above line does not work; try using jscript for loop and get rid of 
    nth-of-type */
}
.text-rotate:nth-of-type(2) {
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-delay: calc(.5s + var(--animation-delay));
    /* animation-delay: calc(.5+(var(--n)*var(--animation-delay))); */
    /* TODO */
    /* above line does not work; try using jscript for loop */
}
.text-rotate:nth-of-type(3) {
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-delay: calc(.5s + 2*var(--animation-delay));
    /* animation-delay: calc(.5+(var(--n)*var(--animation-delay))); */
    /* TODO */
    /* above line does not work; try using jscript for loop */
}
.text-rotate:nth-of-type(4) {
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-delay: calc(.5s + 3*var(--animation-delay));
    /* animation-delay: calc(.5+(var(--n)*var(--animation-delay))); */
    /* TODO */
    /* above line does not work; try using jscript for loop */
}
.text-rotate:nth-of-type(5) {
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-delay: calc(.5s + 4*var(--animation-delay));
    /* animation-delay: calc(.5+(var(--n)*var(--animation-delay))); */
    /* TODO */
    /* above line does not work; try using jscript for loop */
}

@media only screen and (max-width: 1200px) {
    .grid-lists{
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media only screen and (max-width: 800px) {
    .grid-lists{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width: 992px) {
    nav ul li {
        transform: translateY(0);
    }
  }